# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.html.basic':
  'General Start/End':
    'prefix': 'el'
    'body': """
    <$1>
      $2
    </$1>
    """
  'Inline Start/End':
    'prefix': 'elin'
    'body': '<$1>$2</$1>$3'


'.text.tex.latex':
# Environments
  'General Environment':
    'prefix': 'beg'
    'body': """
    \\\\begin{$1}
    $2
    \\\\end{$1}
    """
  'Enumerate':
    'prefix': 'enum'
    'body': """
      \\\\begin{enumerate}
        \\\\item $1
      \\\\end{enumerate}
      $2
    """

# Figures
  'Include Picture':
    'prefix': 'incpic'
    'body': """
    \\\\begin{figure}[h!]
      \\\\centering
      \\\\includegraphics[width=$1in]{./figures/$2}
      \\\\caption{$3}
      \\\\label{$4}
    \\\\end{figure}
    """


# Sections
  'Section':
    'prefix': 'sec'
    'body': '\\\\section{$1}\n$2'
  'Unnumbered Section':
    'prefix': 'usec'
    'body': '\\\\section*{$1}\n$2'
  'Subsection':
    'prefix': 'sub'
    'body': '\\\\subsection{$1}\n$2'
  'Unnumbered Subsection':
    'prefix': 'usub'
    'body': '\\\\subsection*{$1}\n$2'

# Text Formatting
  'Bold Font':
    'prefix': 'bf'
    'body': '\\\\textbf{$1}$2'
  'Italic Font':
    'prefix': 'it'
    'body': '\\\\textit{$1}$2'

# MATH
  'Inline Math':
    'prefix': 'mk'
    'body': '$ $1 $'
  'Display Math':
    'prefix': 'dm'
    'body': """
    \\\\[
      $1
    .\\\\]
    """
  'Align Block':
    'prefix': 'aln'
    'body': """
    \\\\begin{align*}
      $1
    \\\\end{align*}
    """

# Math Environments
  'Question':
    'prefix': 'quest'
    'body': """
    \\\\begin{question}
      $0
    \\\\end{question}
    """
  'Inline Proof':
    'prefix': 'inpf'
    'body': """
    \\\\begin{inline_proof}
      $1
    \\\\end{inline_proof}
    """
  'Solution':
    'prefix': 'sol'
    'body': """
    \\\\begin{solution}
      $1
    \\\\end{solution}
    """
  'Proof':
    'prefix': 'pf'
    'body': """
    \\\\begin{proof}
      $1
    \\\\end{proof}
    """
  'Definition':
    'prefix': 'defn'
    'body': """
    \\\\begin{defn}
      $1
    \\\\end{defn}
    """
  'Theorem':
    'prefix': 'thm'
    'body': """
    \\\\begin{thm}
      $1
    \\\\end{thm}
    """
  'Lemma':
    'prefix': 'lem'
    'body': """
    \\\\begin{lem}
      $1
    \\\\end{lem}
    """
  'Proposition':
    'prefix': 'prop'
    'body': """
    \\\\begin{prop}
      $1
    \\\\end{prop}
    """


'.latex.tex.text .math.other.string':
  'Fraction':
    'prefix': '//'
    'body': '\\\\frac{$1}{$2}$3'

# Text Stuff
  'General Text':
    'prefix': 'txt'
    'body': '\\\\text{$1}'
  'Math Roman':
    'prefix': 'mrm'
    'body': '\\\\mathrm{$1}'
  'Math Cal':
    'prefix': 'mc'
    'body': '\\\\mathcal{$1}'
  'Math BlackBoard':
    'prefix': 'mbb'
    'body': '\\\\mathbb{$1}'
  'Math Frak':
    'prefix': 'mf'
    'body': '\\\\mathfrak{$1}'

# Operators and Stuff
  'Single Variable Derivative':
    'prefix': 'der'
    'body': '\\\\frac{d$1}{d$2}\\\\bigg\\\\lvert_{$3}$4'
  'Partial Derivative':
    'prefix': 'parder'
    'body': '\\\\frac{\\\\partial$1}{\\\\partial$2}\\\\bigg\\\\lvert_{$3}$4'
  'Integral':
    'prefix': 'intl'
    'body': '\\\\int_{$1}^{$2}$3'
  'Limit':
    'prefix': 'lim'
    'body': '\\\\lim_{$1} $2'
  'Sum':
    'prefix': 'sum'
    'body': '\\\\sum_{$1}^{$2} $3'

# Functions
  'Square Root':
    'prefix': 'sqrt'
    'body': '\\\\sqrt{$1}'
  'nth Root':
    'prefix': 'nrt'
    'body': '\\\\sqrt[$1]{$2}'

# Matrices
  'Bracket Matrix':
    'prefix': 'bmat'
    'body': """
      \\\\begin{bmatrix}
      $1
      \\\\end{bmatrix}
      $2
    """
  'Parentheses Matrix':
    'prefix': 'pmat'
    'body': '\\\\begin{pmatrix} $1 \\\\end{pmatrix}'

# Parentheses, Brackets, etc.
  'Parentheses':
    'prefix': 'lrp'
    'body': '\\\\left( $1 \\\\right)'
  'Brackets':
    'prefix': 'lrb'
    'body': '\\\\left[ $1 \\\\right]'
  'Curly Braces':
    'prefix': 'lrc'
    'body': '\\\\left\\\\lbrace $1 \\\\right\\\\rbrace'
  'Absolute Values':
    'prefix': 'abs'
    'body': '\\\\left| $1 \\\\right|'

# Symbols
  'Partial Symbol':
    'prefix': 'par'
    'body': '\\\\partial'
  'phi':
    'prefix': 'phi'
    'body': '\\\\phi'
  'varphi':
    'prefix': 'vphi'
    'body': '\\\\varphi'
  'Phi':
    'prefix': 'Phi'
    'body': '\\\\Phi'
  'psi':
    'prefix': 'psi'
    'body': '\\\\psi'
  'Psi':
    'prefix': 'Psi'
    'body': '\\\\Psi'
  'omega':
    'prefix': 'ome'
    'body': '\\\\omega'
  'Omega':
    'prefix': 'Ome'
    'body': '\\\\Omega'
  'epsilon':
    'prefix': 'eps'
    'body': '\\\\epsilon'
  'varepsilon':
    'prefix': 'veps'
    'body': '\\\\varepsilon'
  'delta':
    'prefix': 'del'
    'body': '\\\\delta'
  'Delta':
    'prefix': 'Del'
    'body': '\\\\Delta'
  'nabla':
    'prefix': 'nab'
    'body': '\\\\nabla'
  'alpha':
    'prefix': 'alp'
    'body': '\\\\alpha'
  'beta':
    'prefix': 'bet'
    'body': '\\\\beta'
  'gamma':
    'prefix': 'gam'
    'body': '\\\\gamma'
  'Gamma':
    'prefix': 'Gam'
    'body': '\\\\Gamma'

# Other
  'Overline':
    'prefix': 'ove'
    'body': '\\\\overline{$1}$2'
